
PORT=3000
NODE_ENV=development

ADMIN_KEY=633ed9cf02792b4bd42e64b0ac8ef4d291c741086bd567943d011a11231e209e
JWT_SECRET=2baad93a1aaa07453dbd705f0883ecb97b3fc826c81fd30f22a53b0800fb71fe
PORT=3000
NODE_ENV=development


DATABASE_URL=postgresql://neondb_owner:npg_XIS9pakE3iju@ep-solitary-silence-amgnj0ka-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


GLPI_API_URL=https://suporte.cardway.net.br/apirest.php
GLPI_APP_TOKEN=A5DJPMbDT7CMbpo5OZS1Pc6UdL20IZYMi0waheM2
GLPI_USER_TOKEN=A5DJPMbDT7CMbpo5OZS1Pc6UdL20IZYMi0waheM2
